<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="me.codus.androidicloud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="androidicloud"
        android:supportsRtl="true">

    </application>

</manifest>
